:root {
    --cor-1: #e23e57; /* cor principal */
    --cor-2: #ffffff; /* branco */
    --cor-3: #e96a7e; /* cor secundária */
    --cor-4: #ce1f3a; /* cor do texto */
    --cor-5: #e6e6e6; /* fundo */
    --cor-6: #ef97a4; /* detalhes/acessórios */
}
